
<div class="input-append">
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="nom" required="required" min="1" />
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="prenom"  required="required" min="1" />
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="carName" required="required" min="1" />
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="carName" required="required" min="1" />
    <input style="width:358px; margin-left: 100px;" class="span2" type="text" ng-model="carName" required="required" min="1" />
    
    <button class="btn btn-primary" ng-disabled="!carName" ng-click="addNewCar(carName)">Add Car</button>
</div>
