<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form class="form-horizontal">




    <div class="control-group">
        <label class="control-label" for="categorie_name">Categrie Vehicule</label>

        <div class="controls">
            <input type="text" id="categorie_name" ng-model="categorie.categorie"
                   placeholder="Train Name" required="required" min="2" />
        </div>
    </div>

    <div class="control-group">

        <hr />
        <div class="controls">
            <button type="button" class="btn btn-primary"
                    ng-disabled="!categorie.categorie" ng-hide="editMode"
                    ng-click="addNewCategorie(categorie)">Add Categorie Vehicule</button>

            <button type="button" class="btn btn-primary"
                    ng-disabled="!categorie.name || !categorie.speed" ng-show="editMode"
                    ng-click="updateCategorie(categorie)">Save Categorie Vehicule</button>
            <button type="button" class="btn" ng-click="resetCategorieForm()">Reset</button>
        </div>
    </div>
</form>
<hr />
<h3>Categorie Vehicules List</h3>
<div class="alert alert-info" ng-show="categories.length == 0">No Categorie Vehicules found</div>
<table class="table table-bordered table-striped" ng-show="categories.length > 0">
    <thead>
        <tr>
            <th style="text-align: center; width: 25px;">Id</th>
            <th style="text-align: center;">Name</th>
   
            <th style="text-align: center;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in categories| orderBy:predicate">
            <td style="text-align: center;">{{item.id}}</td>
            <td>{{item.categorie}}</td>
           
 

            <td style="width: 100px; text-align: center;">
                <button class="btn btn-mini btn-danger" ng-click="removeCategorie(item)">Remove</button>
                <button class="btn btn-mini btn-success" ng-click="editCategorie(item)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-danger" ng-show="categories.length > 1"
        ng-click="removeAllCategories()">Remove All stations</button>