<div ng-repeat="item in clients">
<div class="col-md-3 col-sm-3 col-xs-6">
                            <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#"></a>
                                <i class="glyphicon glyphicon-user blue"></i>

                                <div>{{item.nom}}</div>
                                <div>{{item.prenom}}</div>
                                <a  onclick="$('#myModal').modal('show');" ng-click="$('#myModal').modal('show');" class="btn btn-info  ">Click for dialog</a>
                            
</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Ajouter Client</h3> 
            </div>
            <div class="modal-body">
                <div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
                <form class="form-horizontal">
          <div class="control-group">
                        <label class="control-label" for="client_name">Nom</label>

                        <div class="controls">
                            <input type="text" id="client_name" ng-model="client.nom"
                                   placeholder="Train Name" required="required" min="2" />
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="client_name">Prenom</label>

                        <div class="controls">
                            <input type="text" id="client_name" ng-model="client.prenom"
                                   placeholder="Train Name" required="required" min="2" />
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="client_name">Email</label>

                        <div class="controls">
                            <input type="text" id="client_name" ng-model="client.email"
                                   placeholder="Train Name" required="required" min="2" />
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="client_name">CIN</label>

                        <div class="controls">
                            <input type="text" id="client_name" ng-model="client.cin"
                                   placeholder="Train Name" required="required" min="2" />
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="client_name">NUM permie</label>

                        <div class="controls">
                            <input type="text" id="client_name" ng-model="client.numpermie"
                                   placeholder="Train Name" required="required" min="2" />
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="client_name">Date de naissance</label>

                        <div class="controls">
                            <input type="text" id="client_name" ng-model="client.datenaissance"
                                   placeholder="Train Name" required="required" min="2" />
                        </div>
                    </div>

                    <div class="control-group">

                        <hr />
                        <div class="controls">
                            <button type="button" class="btn btn-primary"
                                    ng-disabled="!client.nom" ng-hide="editMode"
                                    ng-click="addNewClient(client)">Add Client </button>

                            <button type="button" class="btn btn-primary"
                                    ng-disabled="!client.name" ng-show="editMode"
                                    ng-click="updateClient(client)">Save Client </button>
                            <button type="button" class="btn" ng-click="resetClientForm()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
            </div>
        </div>
    </div>
</div>

